body{
  background-color: rgb(37, 33, 33);
}

.main_div{
  display: flex;
  color: white;
}

.p{
  display: flex;
  color:  rgb(255, 255, 255);
  font-size: 50px;
  font-family: sans-serif;
  justify-content: center;
  text-align: center;
}
.board_container{
  margin: 1px;
}

.board_row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.square{
  border: 1px solid;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
